.App{
  clear: both;
  background-color:rgba(255, 255, 0, 0.555);
}
.mainPage {
  background-color:rgb(210, 191, 218);
  height: 50vh;
  width: 100%;
  /* text-align: center; */
}

#head{
  color: blueviolet;
  font-size: 29px;
  text-align: center;
}